jmeterhome=../../jmeter/jakarta-jmeter-2.3/
WARMUPJMX=jmx/JPS-ConstThreadNum-warmup.jmx
#MAINJMX=jmx/JPS-ConstThreadNum.jmx
MAINJMX=jmx/JPS-EWECurve.jmx


SRVHOST=localhost
SRVPORT=8080
TOMCATHOME=/home/voorn/usr/local/apache-tomcat-6.0.14/

DBHOST=sam
DBUSER=jpetstoredist
DBPASS=jpetsto455
SSH_USER=voorn

TPMONPATH=${SRVPORT}/tpmon-control-servlet/

WARMUPNUMTHREADS=15
WARMUPDURATION=60 
WARMUPRAMPUP=10 

MAINNUMTHREADS=20
MAINDURATION=120 
MAINRAMPUP=60

SRVBASEPATH=/jpetstore
