SRVHOST="kermit"
SRVPORT="8080"
SRVBASEPATH="/jpetstore"
TOMCATHOME="/home/local/lvoorn/apps/apache-tomcat-5.5.23/"
SSH_USER=voorn

JMETER_BIN=jmeter-2.3

# only in some special cases it necessary to modify the following
TOMCATACCESSLOG="${TOMCATHOME}/logs/localhost_access_log.$(date +"%Y-%m-%d").txt"
CATALINA_SH="${TOMCATHOME}/bin/catalina.sh"
SERVER_XML="${TOMCATHOME}/conf/server.xml"